<h1>Sightings</h1>

<table class="table table-condensed table-hover table-clickable">
  <thead>
    <tr>
      <th>#</th>
      <th>Location</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody>
    <% @sightings.each do |sighting| %>
      <tr>
        <td><%= link_to sighting.id, sighting_path(sighting.id) %></td>
        <td><%= sighting.lat %>, <%= sighting.long %></td>
        <td><%= sighting.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sighting', new_sighting_path %>
