<h1>Listing sightings</h1>

<table>
  <thead>
    <tr>
      <th>Bike #</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sightings.each do |sighting| %>
      <tr>
        <td><%= link_to sighting.bike.number, bike_path(sighting.bike) %></td>
        <td><%= sighting.lat %></td>
        <td><%= sighting.long %></td>
        <td><%= sighting.time %></td>
        <td><%= link_to 'Show', sighting %></td>
        <td><%= link_to 'Edit', edit_sighting_path(sighting) %></td>
        <td><%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sighting', new_sighting_path %>
