<p id="notice"><%= notice %></p>

<p>
  <strong>Bike ID:</strong>
  <%= @sighting.bike_id %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @sighting.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @sighting.long %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sighting.time %>
</p>

<%= link_to 'Edit', edit_sighting_path(@sighting) %> |
<%= link_to 'Back', sightings_path %>

<p>
  <strong>Photo:</strong>
  <%= link_to (image_tag @sighting.photo.url(:medium)), @sighting.photo.url(:original) %>
  (click image for original)
</p>