<h1>Listing stations</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Name</th>
      <th>Num docks</th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= link_to station.tfl_id, station %></td>
        <td><%= station.lat %></td>
        <td><%= station.long %></td>
        <td><%= link_to station.name, station %></td>
        <td><%= station.num_docks %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>Note: The station IDs are from TfL - they are not (necessarily) consecutive.</p>

<p>To (re-)populate stations, run <code>rake populate:stations</code>.</p>
