<h1>Stations</h1>

<% if @stations.size() > 0 %>
<p>There are <b><%= @stations.size() %></b> stations.</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Name</th>
      <th>Num docks</th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= link_to station.tfl_id, station %></td>
        <td><%= station.lat %></td>
        <td><%= station.long %></td>
        <td><%= link_to station.name, station %></td>
        <td><%= station.num_docks %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert alert-warning">
  <strong>Warning!</strong> No stations found. Run rake task <code>stations:populate</code> to populate them.
</div>
<% end %>

<p>Note: The Station IDs are from <acronym title="Transport for London">TfL</acronym> - they are not (necessarily) consecutive.</p>

<p>To (re-)populate stations, run <code>rake stations:populate</code>.</p>
