<p id="notice"><%= notice %></p>

<h2>
  Station #<%= @station.tfl_id %> : <strong><%= @station.name %></strong>
</h2>

<img src="http://maps.googleapis.com/maps/api/staticmap?size=500x400&amp;zoom=15&amp;markers=color:blue%7C<%= @station.lat %>,<%= @station.long %>" alt="Map View" class="img-thumbnail" />

<p>
  <strong>Location:</strong>
  {<%= '%.6f' % @station.lat %>, <%= '%.6f' % @station.long %>}
</p>

<p>
  <strong>Num docks:</strong>
  <%= @station.num_docks %>
</p>

<p>
	<%= link_to 'View All Stations', stations_path %>
</p>