<!DOCTYPE html>
<html>
<head>
  <title>AdoptABike</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Adopt-a-Bike</h1>

  <nav>
    <a href="/">home</a> 
    | <a href="/bikes">bikes</a> 
    | <a href="/sightings">sightings</a>
    <% if user_signed_in? %>
    | <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete) %>        
    <% else %>
    | <%= link_to('LOGIN', new_user_session_path)  %>  
    <% end %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
